{% extends "base.html" %}
{% block content %}
<div class="auth-container">
    <h1 class="brand-header">EquiSync</h1>

    <h2 class="lato-header">Log In</h2>
    <p class="header-subtext">Access your tailored equestrian content</p>

    {% if form.errors %}
        <div class="alert alert-danger text-center fade-out">
            Invalid username or password.
        </div>
    {% endif %}

    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger small">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary w-100">Log In</button>
        </form>

        <div class="button-group mt-4 d-flex flex-column flex-md-row justify-content-center gap-3">
        <a href="{% url 'account_reset_password' %}" class="btn alternate-btn">Forgot Password</a>
        <a href="{% url 'account_signup' %}" class="btn alternate-btn">Join EquiSync</a>
        </div>


{% endblock %}


