{% extends "base.html" %}
{% block content %}
<div class="auth-container text-center">
    <h1 class="brand-header">EquiSync</h1>
    <h2 class="lato-header">Email Sent</h2>
    <p class="header-subtext">If an account with that email exists, you'll receive a reset link shortly.</p>

    <div class="alert alert-info fade-out">
        Check your inbox (and spam folder).
    </div>

    <a href="{% url 'account_login' %}" class="text-center mt-3 text-muted btn alternate-btn w-100">Back to Login</a>
</div>

{% endblock %}


