{% extends "base.html" %}
{% load exercise_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'exercise_schedule/css/exercise_schedule.css' %}">
{% endblock %}

{% block content %}
<div class="ex-bd-container">
    <h1 class="ex-bd-header">{{ horse.name }}'s Exercise Schedule</h1>
    <p class="ex-bd-subtext">Select a timespan to view your horse's exercise breakdown</p>

    <div class="ex-bd-controls">
        <form method="get" id="timeframe-form">
            <div class="ex-bd-radio-inputs">
                <label>
                    <input type="radio" name="timeframe" value="week" {% if timeframe == 'week' %}checked{% endif %}>
                    <span class="name">Week</span>
                </label>
                <label>
                    <input type="radio" name="timeframe" value="month" {% if timeframe == 'month' %}checked{% endif %}>
                    <span class="name">Month</span>
                </label>
                <label>
                    <input type="radio" name="timeframe" value="year" {% if timeframe == 'year' %}checked{% endif %}>
                    <span class="name">Year</span>
                </label>
                <label>
                    <input type="radio" name="timeframe" value="custom">
                    <span class="name">Custom</span>
                </label>
            </div>

            <div class="ex-bd-date-inputs">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}">
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">
                <button type="submit">Update Chart</button>
            </div>
        </form>
    </div>

    <div class="ex-bd-chart-and-breakdown">
        <div style="width:400px; height:400px;">
            <canvas id="exerciseChart"></canvas>
        </div>

        <div class="ex-bd-breakdown">
            <div class="ex-card">
                <h2>Total Exercise Time</h2>
                <ul id="time-breakdown-minutes">
                    {% for item in exercise_breakdown_minutes %}
                    <li>{{ item.exercise_type|pretty_exercise }}: {{ item.total_minutes }} minutes ({{ item.total_hours|format_hours }})</li>
                    {% endfor %}
                </ul>
            </div>

            {% if timeframe != 'day' %}
            <div class="ex-card">
                <h2>Average Exercise Time</h2>
                <p>In this period, {{ horse.name }} spent an average of:</p>
                <ul id="average-exercise-time">
                    {% for item in average_exercise_time %}
                    <li>{{ item.exercise_type|pretty_exercise }}: {{ item.average_hours }} hours</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <h2 class="ex-bd-header" style="margin-top: 3rem;">Weekly Exercise Schedule</h2>

    <div class="ex-bd-weekly-controls">
        <button id="prev-week">
            <span class="label-full">Previous Week</span>
            <span class="label-icon">&lt;</span>
        </button>
        <select id="week-select">
            {% for week in previous_weeks %}
            <option value="{{ week.start_date|date:'Y-m-d' }}" {% if week.start_date == start_week %}selected{% endif %}>
                Week of {{ week.start_date|date:"M d, Y" }}
            </option>
            {% endfor %}
        </select>
        <button id="next-week">
            <span class="label-full">Next Week</span>
            <span class="label-icon">&gt;</span>
        </button>
        <button id="update-button">Update</button>
    </div>

    <table class="ex-bd-table">
        <thead style="background-color: #fce8f0;">
            <tr>
                <th>Date</th>
                <th>Exercise Type</th>
                <th>Duration (mins)</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for day in days_of_week %}
            <tr>
                <td>{{ day|date:"l, M d, 'y" }}</td>
                {% if weekly_schedule_items|get_item:day %}
                <td>
                    {% for item in weekly_schedule_items|get_item:day %}
                    <div>{{ item.get_exercise_type_display }}</div>
                    {% endfor %}
                </td>
                <td>
                    {% for item in weekly_schedule_items|get_item:day %}
                    <div>{{ item.duration }}</div>
                    {% endfor %}
                </td>
                <td>
                </td>
                {% else %}
                <td>No Schedule</td>
                <td>No Schedule</td>
                <td>No Schedule</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="horse-data"
        data-horse-id="{{ horse.id }}"
        data-horse-url="{% url 'exercise_schedule:horse_exercise_schedule' horse.id %}">
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'exercise_schedule/js/exercise_schedule.js' %}"></script> 
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('exerciseChart').getContext('2d');
    
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [{% for item in labels %}"{{ item }}"{% if not forloop.last %},{% endif %}{% endfor %}],
                    datasets: [{
                        label: 'Exercise Breakdown',
                        data: [{% for item in data %}{{ item }}{% if not forloop.last %},{% endif %}{% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Exercise Breakdown',
                            padding: 10,
                            font: {
                                size: 16
                            }
                        }
                    }
                }
            });
        });
    </script>
        
{% endblock %}