{% load dict_filters %}

<table class="calendar-table">
    <thead>
        <tr class="desktop-only">
            {% for day in days_of_week %}
                <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for day in days_of_week %}
                {% comment %} Add 'today' class to today's cell {% endcomment %}
                <td class="{% if day == today_day_name %}highlight-today{% endif %}" data-day="{{ day }}">
                    <span class="mobile-only">{{ day }}</span>

                    {% with events=weekly_events|get_item:day %}
                        {% for event in events %}
                            <div class="event-item">
                                <a href="{% url 'community:event_detail' event.id %}">{{ event.title }}</a>
                                <p>{{ event.description }}</p>
                            </div>
                        {% empty %}
                            <p>No events scheduled.</p>
                        {% endfor %}
                    {% endwith %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>

