{% extends "base.html" %}
{% load calendar_tags %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'competitions/css/competitions.css' %}">
    <script src="{% static 'competitions/js/competitions.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="header-container">
    <h2>Scheduled Competitions & Events</h2>
    <span>Click an event to view details and add or remove your horse's attendance. Favorite an event to track it in your dashboard. Add or Edit an event (subject to approval)</span>
</div>

{% if messages %}
  <div class="messages-container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} fade-message">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if view_type == 'month' %}
    <h3 class="calendar-header">
        <span></span>
        <div class="nav-wrapper">
            {% include 'competitions/calendar_nav.html' %}
        </div>
    </h3>

    <div class="custom-calendar-container">
        {% month_calendar year month events as calendar_html %}
        {{ calendar_html|safe }}
    </div>
{% elif view_type == 'week' %}
    {% include "competitions/week_calendar.html" %}
{% elif view_type == 'day' %}
    {% include "competitions/day_calendar.html" %}
{% endif %}

{% endblock %}

