{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Scheduled Competitions & Events</h2>
<span>Click an event for details. Suggest an event (subject to approval) with the Add button</span>

<h3 style="display: flex; justify-content: space-between; align-items: center;">
    <span></span>
    {% include 'competitions/calendar_nav.html' %}

</h3>

<div class="custom-calendar-container">
    <table class="calendar">
        <thead>
            <tr>
                <th>{{ display_date|date:"j F, Y" }}</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>
                        <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                            {% if request.user.is_authenticated and event.is_favorited %}
                                 <i class="fas fa-heart" style="color: red;"></i>
                            {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr><td>No events scheduled for today.</td></tr> 
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}






