{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'competitions/css/competitions.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Remove Horse</h1>
        <p>Are you sure you want to remove {{ event_horse.horse.name }} from this event?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Remove</button>
            <a href="{% url 'competitions:event_detail' event_horse.event.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
