{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Scheduled Competitions & Events</h2>
<span>Click an event for details. Suggest an event (subject to approval) with the Add button</span>

<h3 style="display: flex; justify-content: space-between; align-items: center;">
    <span></span>
    {% include 'competitions/calendar_nav.html' %}
</h3>

<div class="custom-calendar-container">
    <table class="calendar">
        <thead>
            <tr>
                <th>Day</th>
                <th>Events</th>
            </tr>
        </thead>
        <tbody>
            {% for day_info in week_days %}
                <tr>
                    <td>{{ day_info.date|date:"D, M d" }}</td>
                    <td>
                        {% for event in day_info.events %}
                            <div>
                                <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                                {% if event.is_favorited %}
                                     <i class="fas fa-heart" style="color: red;"></i>
                                {% endif %}
                            </div>
                        {% empty %}
                            No events scheduled for this day.
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


