{% extends "base.html" %}

{% block content %}
<h1>{{ horse.name }}</h1>
    <p>Breed: {{ horse.breed }}</p>
    <p>Age: {{ horse.age }}</p>
    <p>Gender: {{ horse.gender }}</p>
    <p>Owner: {{ horse.owner.username }}</p>
    <p>Staff: {{ horse.staff.username }}</p>
    <p>Barn Manager: {{ horse.barn_manager.username }}</p>
    <p>Rider: {{ horse.rider.username }}</p>
    <p>Last ridden by: {{ horse.most_recent_ride.name }}</p>
    <p>Last cared for by: {{ horse.most_recent_staff.name }}</p>
    <p>Feeding Chart: <a href="{% url 'feeding_management:horse_feeding_chart_readonly' horse.id %}">View</a></p>
    <p>Exercise Schedule: <a href="{% url 'horse_exercise_schedule' horse.id %}">View</a></p>
    
    {% if horse.image %}
        <img src="{{ horse.image.url }}" alt="Horse Image">
    {% endif %}

{% endblock %}