{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>

    {% if profile %}
        <!-- User Profile -->
        <h2>Your Profile</h2>
        <a href="{% url 'users:view_profile' %}">View</a>

    {% endif %}

    <!-- User's Horses -->
        <h2>Your Horses</h2>
        {% if horses %}
            <ul>
                {% for horse in horses %}
                    <li><a href="{% url 'horses:horse_profile' horse.id %}">{{ horse.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any horses yet.</p>
        {% endif %}

    <!-- Notifications -->
        <h2>Notifications</h2>
        {% if notifications %}
            <ul style="list-style-type: none; padding: 0;">
                {% for notification in notifications %}
                    <li style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
                        <i class="fas fa-bell notification-bell"></i>
                        <span>{{ notification.message }} - {{ notification.created_at }}</span>
                        <a href="{% url 'competitions:edit_event_horse' notification.event_horse.id %}" class="btn">
                            Update Result
                        </a>
                        <a href="{% url 'users:mark_notification_as_read' notification.id %}">Mark as read</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No new notifications.</p>
        {% endif %}


    <!-- Horse Feeding Chart -->
    <h2>Feeding Schedules</h2>
    {% if feeding_charts %}
        <ul>
            {% for chart in feeding_charts %}
                <li><a href="{% url 'feeding_management:horse_feeding_chart_readonly' chart.horse.id %}">{{ chart.horse.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No feeding schedules found.</p>
    {% endif %}

    <!-- Horse Exercise Schedules -->
    <h2>Exercise Schedules</h2>
    {% if exercise_schedules %}
        <ul>
            {% for schedule in exercise_schedules %}
                <li>
                    <a href="{% url 'exercise_schedule:horse_exercise_schedule' schedule.horse.id %}">
                    Exercise Schedule for {{ schedule.horse.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No exercise schedules found.</p>
    {% endif %}

    <!-- User's Ads -->
    <h2>Your Ads</h2>
    {% if ads %}
        <ul>
            {% for ad in ads %}
                <li>
                  <a href="{% url 'community:ad_detail' ad.id %}">
                    {{ ad.get_ad_type_display }} - {{ ad.description|truncatechars:50 }} ({{ ad.date_posted|date:"Y-m-d" }})
                  </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No ads found.</p>
    {% endif %}

    <!-- User's Announcements -->
    <h2>Your Announcements</h2>
    {% if announcements %}
        <ul>
            {% for announcement in announcements %}
                <li>
                  <a href="{% url 'community:announcement_detail' announcement.id %}">
                    {{ announcement.description|truncatechars:50 }} ({{ announcement.date_posted|date:"Y-m-d" }})
                  </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No announcements found.</p>
    {% endif %}
    
    <!-- Favorited Events -->
    <h2>My Favorite Events</h2>
    <ul>
        {% for event in favorite_events %}
            <li>{{ event.title }} - {{ event.start_time }} to {{ event.end_time }}</li>
        {% endfor %}
    </ul>
    
    <!-- Competition Results -->
    <section class="dashboard-section">
        <h2>My Competition Results</h2>
        {% if paginated_results %}
            {% for horse, page_obj in paginated_results.items %}
                <h3>Recent Results for {{ horse.name }}</h3>
                <ul>
                    {% for result in page_obj.object_list %}
                        <li>
                            {{ result.event.title }} - {{ result.event.start_time|date:"Y-m-d" }} - {{ result.class_details }} - Results: {{ result.results|default:"No results yet" }}
                            <a href="{% url 'competitions:edit_event_horse_source' result.id 'dashboard' %}" class='btn'>
                                {% if result.results %}
                                    Edit Results
                                {% else %}
                                    +
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
    
                <!-- Pagination Controls -->
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page_{{ horse.id }}=1">« first</a>
                            <a href="?page_{{ horse.id }}={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
    
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
    
                        {% if page_obj.has_next %}
                            <a href="?page_{{ horse.id }}={{ page_obj.next_page_number }}">next</a>
                            <a href="?page_{{ horse.id }}={{ page_obj.paginator.num_pages }}">last »</a>
                        {% endif %}
                    </span>
                </div>
    
                <!-- Archive Button -->
                <a href="{% url 'competitions:horse_results_archive' horse.id %}" class='btn'>View Result Archive</a>
            {% endfor %}
        {% else %}
            <p>No competition results found.</p>
        {% endif %}
    </section>
    
    <a href="{% url 'users:dashboard' %}" class='btn'>Dashboard</a>
    
    {% endblock %}