{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>

    {% if profile %}
        <h2>Your Profile</h2>
        <a href="{% url 'users:view_profile' %}">View</a>

    {% endif %}

    <h2>Your Horses</h2>
    {% if horses %}
        <ul>
            {% for horse in horses %}
                <li><a href="{% url 'horses:horse_profile' horse.id %}">{{ horse.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any horses yet.</p>
    {% endif %}

    <h2>Feeding Schedules</h2>
    {% if feeding_charts %}
        <ul>
            {% for chart in feeding_charts %}
                <li><a href="{% url 'feeding_management:horse_feeding_chart_readonly' chart.horse.id %}">{{ chart.horse.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No feeding schedules found.</p>
    {% endif %}

    <h2>Exercise Schedules</h2>
    {% if exercise_schedules %}
        <ul>
            {% for schedule in exercise_schedules %}
                <li>
                    <a href="{% url 'exercise_schedule:horse_exercise_schedule' schedule.horse.id %}">
                    Exercise Schedule for {{ schedule.horse.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No exercise schedules found.</p>
    {% endif %}

    <h2>Your Ads</h2>
    {% if ads %}
        <ul>
            {% for ad in ads %}
                <li>
                  <a href="{% url 'community:ad_detail' ad.id %}">
                    {{ ad.get_ad_type_display }} - {{ ad.description|truncatechars:50 }} ({{ ad.date_posted|date:"Y-m-d" }})
                  </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No ads found.</p>
    {% endif %}

    <h2>Your Announcements</h2>
    {% if announcements %}
        <ul>
            {% for announcement in announcements %}
                <li>
                  <a href="{% url 'community:announcement_detail' announcement.id %}">
                    {{ announcement.description|truncatechars:50 }} ({{ announcement.date_posted|date:"Y-m-d" }})
                  </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No announcements found.</p>
    {% endif %}

    <h2>My Favorite Events</h2>
    <ul>
        {% for event in favorite_events %}
            <li>{{ event.title }} - {{ event.start_time }} to {{ event.end_time }}</li>
        {% endfor %}
    </ul>
    
    <h2>My Competition Results</h2>
{% if competition_results %}
    <ul>
        {% for result in competition_results %}
            <li>
                <a href="{% url 'competitions:edit_event_horse_source' result.id 'dashboard' %}">
                    {{ result.horse.name }} - {{ result.class_details }}: 
                    Results: {{ result.results|default:"No results yet" }} 
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No competition results found.</p>
{% endif %}

    <h2>Notifications</h2>
    {% if notifications %}
        <ul>
            {% for notification in notifications %}
                <li>
                    {{ notification.message }}
                    <form method="post" action="{% url 'users:mark_notification_as_read' notification.id %}">
                        {% csrf_token %}
                        <button type="submit">Mark as Read</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No new notifications.</p>
    {% endif %}

{% endblock %}

