{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container profile-form-container">
  <h1 class="brand-header">EquiSync</h1>

  <h2 class="lato-header">Edit Profile</h2>
  <p class="header-subtext">Add your contact details and any notes you'd like to share</p>


  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="text-danger small">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}

    <div class="button-group mt-4 d-flex flex-column flex-md-row justify-content-center gap-3">
      <button type="submit" class="btn btn-primary w-100">Save Changes</button>
      <a href="{% url 'view_profile' %}" class="btn btn-primary w-100">Cancel</a>
    </div>    
  </form>
</div>
{% endblock %}


