{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
<!-- SVG Background -->
<svg class="equisync-error-bg" viewBox="0 0 1440 320" preserveAspectRatio="none">
    <path fill="#fff0f5" fill-opacity="1"
      d="M0,280L60,260C120,240,240,200,360,170.7C480,141,600,123,720,126.7C840,130,960,154,1080,165.3C1200,176,1320,176,1380,176L1440,176L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
    </path>
  </svg>
  
  
  <div id="equisync-error-container" class="error-container equisync-error-404">
    <h1 class="equisync-error-title">404 - Page Not Found</h1>
    <p class="equisync-error-subtext">
      Oops! The page you are looking for does not exist or has been moved.
    </p>
    <a href="{% url 'users:dashboard' %}" class="equisync-error-btn">Back to Dashboard</a>
  </div>
{% endblock %}


