{% extends "base.html" %}

{% block content %}
<h1>Daily Feeding Overview</h1>

    {% for entry in feeding_data %}
        <p>
            <strong>{{ entry.horse_name }}:</strong>
            B {{ entry.breakfast_quantity }}{{ entry.breakfast_feed }},
            L {{ entry.lunch_quantity }}{{ entry.lunch_feed }},
            D {{ entry.dinner_quantity }}{{ entry.dinner_feed }},
            Hay: {{ entry.hay_quantity }}{{ entry.hay }},
            Supplements: {{ entry.supplements }},
            Medicines: {{ entry.medicines }},
            Notes: {{ entry.notes }}
        </p>
    {% endfor %}
{% endblock %}