{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

{% block content %}
  <h1>Ad Detail</h1>
  <h2>{{ ad.get_ad_type_display }}</h2>
  <p><strong>Title:</strong> {{ ad.title }}</p>
  <p><strong>Description:</strong> {{ ad.description }}</p>
  <p><strong>Price:</strong> {{ ad.price }}</p>
  <p><strong>Contact:</strong> {{ ad.contact_information }}</p>
  <p><strong>Posted Date:</strong> {{ ad.date_posted }}</p>

  <h2>Comments</h2>
  {% for comment in comments %}
    <p>
        {{ comment.text }}<br>
        Posted by: <a href="mailto:{{ comment.user.email }}">{{ comment.user.username }}</a> at {{ comment.created_at|date:"M. d, Y, g:i a" }}
        {% if comment.user == request.user %}
            | <a href="{% url 'community:edit_comment' comment_id=comment.id %}">Edit</a>
            | <a href="{% url 'community:delete_comment' comment_id=comment.id %}">Delete</a>
        {% else %}
            | <a href="{% url 'community:add_comment' content_type_id=content_type.id object_id=ad.id %}">Add Comment</a>
        {% endif %}
    </p>
{% endfor %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
  </form>

  {% if ad.image %}
    <img src="{{ ad.image.url }}" alt="Ad Image">
  {% endif %}

  <a href="{% url 'community:community_overview' %}">Back to Community</a>
  
{% endblock %}
